In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Train_Data.csv to Train_Data (1).csv

In [ ]:
import pandas as pd
import io
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['Train_Data.csv']))

In [ ]:
df

            date    campaign    adgroup  ...  cost  conversions  revenue
0     01-08-2020  campaign 1  adgroup 1  ...  0.08            0     0.00
1     01-08-2020  campaign 1  adgroup 2  ...  0.00            0     0.00
2     01-08-2020  campaign 1  adgroup 3  ...  0.04            0     0.00
3     01-08-2020  campaign 1  adgroup 4  ...  0.08            0     0.00
4     01-08-2020  campaign 1  adgroup 1  ...  1.29            4   925.71
...          ...         ...        ...  ...   ...          ...      ...
4566  28-02-2021  campaign 1  adgroup 3  ...  0.07            0     0.00
4567  28-02-2021  campaign 1  adgroup 4  ...  0.00            0     0.00
4568  28-02-2021  campaign 1  adgroup 3  ...  0.12            1    93.20
4569  28-02-2021  campaign 1  adgroup 1  ...  0.23            0     0.00
4570  28-02-2021  campaign 1  adgroup 1  ...  0.14            0     0.00

[4571 rows x 9 columns]

In [ ]:
df.isnull().sum()

date           0
campaign       0
adgroup        0
ad             0
impressions    0
clicks         0
cost           0
conversions    0
revenue        0
dtype: int64

In [ ]:
data = df.drop(columns= ['date', 'campaign'])
data

        adgroup     ad  impressions  clicks  cost  conversions  revenue
0     adgroup 1   ad 1           24       6  0.08            0     0.00
1     adgroup 2   ad 1            1       0  0.00            0     0.00
2     adgroup 3   ad 1           13       4  0.04            0     0.00
3     adgroup 4   ad 1            5       4  0.08            0     0.00
4     adgroup 1   ad 2          247     126  1.29            4   925.71
...         ...    ...          ...     ...   ...          ...      ...
4566  adgroup 3  ad 55           19       6  0.07            0     0.00
4567  adgroup 4  ad 55            1       0  0.00            0     0.00
4568  adgroup 3  ad 56           16       8  0.12            1    93.20
4569  adgroup 1  ad 56           37      13  0.23            0     0.00
4570  adgroup 1  ad 55           19      10  0.14            0     0.00

[4571 rows x 7 columns]

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(list(df['adgroup']))
adgrp = le.transform(list(df['adgroup']))
len(adgrp)
le.fit(df['ad'])
ads = le.transform(list(df['ad']))
len(ads)

4571

In [ ]:
data.drop(columns=['adgroup','ad'] , inplace= True)
data.insert(1, 'adgroup', adgrp)
data.insert(0, 'ad', ads)

In [ ]:
data

      ad  impressions  adgroup  clicks  cost  conversions  revenue
0      0           24        0       6  0.08            0     0.00
1      0            1        1       0  0.00            0     0.00
2      0           13        2       4  0.04            0     0.00
3      0            5        3       4  0.08            0     0.00
4     11          247        0     126  1.29            4   925.71
...   ..          ...      ...     ...   ...          ...      ...
4566  50           19        2       6  0.07            0     0.00
4567  50            1        3       0  0.00            0     0.00
4568  51           16        2       8  0.12            1    93.20
4569  51           37        0      13  0.23            0     0.00
4570  50           19        0      10  0.14            0     0.00

[4571 rows x 7 columns]

In [ ]:
X = data.loc[:, data.columns != 'revenue']
X
y = data['revenue']

In [ ]:
X_train = X
y_train = y

In [ ]:
uploaded = files.upload()
df_test = pd.read_csv(io.BytesIO(uploaded['Test_Data.csv']))
data_test = df_test.drop(columns= ['date', 'campaign'])
data_test

Saving Test_Data.csv to Test_Data (1).csv

       adgroup     ad  cost  impressions  clicks  conversions
0    adgroup 1   ad 1  0.58          121      49            1
1    adgroup 3   ad 1  0.17           22      12            0
2    adgroup 4   ad 1  0.05            5       3            0
3    adgroup 2   ad 1  0.01            2       1            0
4    adgroup 2   ad 2  0.01            3       1            0
..         ...    ...   ...          ...     ...          ...
313  adgroup 4  ad 55  0.01            1       1            0
314  adgroup 3  ad 55  0.01            5       1            0
315  adgroup 1  ad 55  0.14           25      11            0
316  adgroup 3  ad 56  0.06            9       4            0
317  adgroup 1  ad 56  0.33           67      27            1

[318 rows x 6 columns]

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(list(df_test['adgroup']))
adgrp = le.transform(list(df_test['adgroup']))
len(adgrp)
le.fit(df_test['ad'])
ads = le.transform(list(df_test['ad']))
len(ads)

318

In [ ]:
data_test.drop(columns=['adgroup','ad'] , inplace= True)
data_test.insert(1, 'adgroup', adgrp)
data_test.insert(0, 'ad', ads)
X_test = data_test

In [ ]:
X_train

      ad  impressions  adgroup  clicks  cost  conversions
0      0           24        0       6  0.08            0
1      0            1        1       0  0.00            0
2      0           13        2       4  0.04            0
3      0            5        3       4  0.08            0
4     11          247        0     126  1.29            4
...   ..          ...      ...     ...   ...          ...
4566  50           19        2       6  0.07            0
4567  50            1        3       0  0.00            0
4568  51           16        2       8  0.12            1
4569  51           37        0      13  0.23            0
4570  50           19        0      10  0.14            0

[4571 rows x 6 columns]

In [ ]:
X_test = X_test[['ad', 'impressions', 'adgroup', 'clicks', 'cost', 'conversions']]
X_test

     ad  impressions  adgroup  clicks  cost  conversions
0     0          121        0      49  0.58            1
1     0           22        2      12  0.17            0
2     0            5        3       3  0.05            0
3     0            2        1       1  0.01            0
4     2            3        1       1  0.01            0
..   ..          ...      ...     ...   ...          ...
313   6            1        3       1  0.01            0
314   6            5        2       1  0.01            0
315   6           25        0      11  0.14            0
316   7            9        2       4  0.06            0
317   7           67        0      27  0.33            1

[318 rows x 6 columns]

In [ ]:
def initialize_with_zeros(dim):
    w = np.zeros((dim, 1))
    b = 0
    assert(w.shape == (dim, 1)) ## assert function is used to check whether something is as per out requirement or not
    assert(isinstance(b, float) or isinstance(b, int))
    
    return w, b

In [ ]:
dim = 6
w, b = initialize_with_zeros(dim)
print ("w = " + str(w))
print ("b = " + str(b))

w = [[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]]
b = 0

In [ ]:
def propagate(w, b, X, Y):
  m = X.shape[1]
  o = np.ones(Y.shape)

  theta_min = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(Y)

  return theta_min

In [ ]:
propagate(w,b,X_train,y_train)

array([ -0.6379713 ,  -1.49513224,   1.38800614,   2.73834079,
        -9.326323  , 220.3871216 ])

In [ ]:

theta = propagate(w,b,X_train,y_train)
print(theta)

[ -0.6379713   -1.49513224   1.38800614   2.73834079  -9.326323
 220.3871216 ]

In [ ]:
t = []
for index, row in X_test.iterrows():
 # print(np.array(row))
  y_test_pred = np.dot(np.array(row),theta)

  t.append(np.sum(y_test_pred))
print(t)

[168.24555228582855, 1.1577176231762791, 4.437063452526675, 1.0428192257168558, -1.728255609748421, 2.1044387619382627, 127.69563928649569, -9.49670117152889, 171.78911362278328, 6.224909198499729, 505.60089042281663, 4.08251399432018, -4.605074548683532, 427.5231654991721, -3.548977154506505, 153.45527644956644, -8.97615755346042, 135.21243296593212, -0.23616500721793376, 229.84638014932375, -1.8165105194287048, -42.0765625900804, 2.1927645461357628, 570.1418759633286, 1.3929435863962187, -0.5783102893295132, 752.7743092784141, 181.13855879405753, 2.2712258673821637, -3.516172230238692, 662.0882092043174, -5.316569724225573, 1325.970933312216, 383.5390633218088, 211.94267741967437, -8.220900320420599, 144.06884180215945, -17.732557026957178, 1.1737539512163953, 8.152685963442647, 1.723901386738508, -27.41346362320231, -2.0210399949161415, -12.084645527569121, -33.378233886780016, 3.3067866120930915, -2.493092359024378, 0.2976509564262233, 2.062342168884812, -19.86718430261775, -5.848867795344321, -3.383058218543379, -11.677194566984152, 428.1203617977755, 94.64150807355, 220.12613074536674, -3.8417615396742266, -7.056950386238428, -5.160301179015801, 1223.5597229923565, -7.469997310390689, 377.76894616866423, -3.2921160238003644, 302.7772072359445, -6.758502134848647, -35.98781488380928, 588.3239288678975, 54.86751440800248, -1.0657492584332293, -10.699190770718156, 345.8420159594301, -3.1988527938271427, -2.235433933354679, -8.619942630809597, 157.0768471591657, 197.12962497035602, 783.1633623634602, -3.8368240938985063, -47.43893193382184, -13.974112976044273, 553.30412779442, 217.82624010452892, -24.2368144416452, 223.5722738772839, -11.276632890566896, -6.097801523509372, 738.3667454764183, 1694.3110160381868, -6.26271201446014, 387.3333641269044, 409.62904838639093, 440.64288177532046, -24.92580628022027, 865.9665264447467, 202.93800413818008, -4.572996069718813, -7.1248103954870485, -4.348798114246051, -29.86365337058965, -11.098233081107153, 173.26244974309463, -2.3416918585759574, -1.2114858926595908, 79.22510500433967, -6.446049269695601, 2853.2360680480306, -5.588888334444414, 402.9235349510497, -8.196294394659553, 133.40926858874528, -7.977033884962514, 855.0182512203181, -9.927166414953492, 403.6770468437603, -10.565137715024855, 2704.02593926837, -9.470784129052847, 3140.3000265249043, 588.8087353815915, 190.81683293489303, -7.084020569766965, -4.056084603595546, 576.2248610067498, 0.8285670363127527, 6.498893273162898, -0.10712609470205159, 626.9308258163201, -2.073442524652064, 115.27818282025966, 203.97320590803236, -1.1786100938745585, -3.954622375115556, -4.930522109084632, -9.36351628531636, 1094.980346957451, -9.594389499029246, -18.395206600809658, -9.163197835158305, 578.9816521046214, -10.64592007150146, 187.56570310887957, -4.572925195201594, -4.544545368460906, 0.8481646417808605, 209.9517550639633, -1.289876339388774, -4.020958644097526, 400.9625826626248, 616.0704958326428, 10.10738968937682, 1.885249126758439, -1.5973208842488813, 801.3778997956066, -8.858729871457527, 373.03164935049506, -1.3095448193740984, 1011.2869884193567, -4.5140614794233, -8.359236724606594, -13.251802391449946, 209.8629285558728, -5.848867795344321, -11.441453308509923, -28.83797771455305, 376.00643714313685, 2.030914886467582, 448.5712855580238, -9.129949963656264, -1.9278476394601367, -23.474227853082233, -11.403356590737053, -1.796912913960597, -42.386629393227274, 174.09057530567603, -0.10712609470205159, 1.1365962774415221, 1.1737539512163953, 0.9544934415193546, 384.2691372077928, 218.56560275856305, -4.299809290019197, -50.03448764509449, 0.7549722863248556, 75.01212190788891, -8.711168298764724, 4.2214350947748365, 212.17159704374478, -34.68757193034371, 214.77885263130545, -6.194054710247962, -27.319391473909953, 195.61735353959162, -31.34471449187012, -4.186363758309207, -29.91432828498406, 2.119612743382093, 2.6688861865389453, -0.10712609470205159, -0.330669952891786, 196.0858533498919, 221.67025180491612, 3.6928342272340338, 395.41462565004406, 8.251754808672365, -3.516172230238692, -56.31796080981885, 67.24003507482175, -24.89895454312787, -9.60106328376651, 676.6139991327649, -2.1471081491571784, -19.041304551367727, -3.0677704964086856, 170.9533560329761, 427.20301730641097, 0.7172299162813208, -65.68173536578507, -2.159518148136572, -14.320097185911473, 439.86250479476814, -0.321378284106155, 3.8749370631562012, -36.26232613097321, 2.537951461039406, 0.478371801116172, 1042.2026905335517, 5.187966462556584, -1.085346863901337, 75.8600427324073, 0.5307743308520944, 401.2623005766825, -17.330030136541904, 2.7917000844362647, -25.83304580924161, -12.391523126004996, 3.516613703970069, -7.782450175543735, 125.27350922204957, -21.053631726025653, -34.55903664245639, -6.068057430524145, -6.320849284935339, -23.819414767985876, -7.282886154175585, -3.097390565347152, 226.56194930227872, 5.2207005123071815, -38.07274608843045, -0.6715735193027348, 1.3929435863962187, 620.5076359825712, 258.81109324987005, -0.0663362689819691, 636.5101595819145, -1.1786100938745585, 217.69872493227967, -19.808320586839454, -15.472726890657565, 197.52967282502183, 209.038931519748, -6.287317940221184, 348.4335822702926, -11.205938024336627, -52.045763447190154, -5.868536275329646, -16.737927857000773, -14.896086440010782, 2.052833527165897, -7.563189665846694, 1.8475776312321208, 409.0415896508131, 2.6688861865389453, 2.6595945177533156, 847.8319607233641, 0.9168219459930366, 3.5995709972608125, 0.7482276270703704, 390.2981263990099, 89.05909697001206, -0.0663362689819691, -9.761105729955926, 2.021552343164737, -23.022563139288472, -7.344000030666872, 445.6205840216503, -26.013118358119634, 162.23448630597122, -17.0932037356536, -1.796912913960597, -14.52455578688169, -1.9729916881901293, 189.96358327541753, -18.97089900609081, 6.370645832726089, 182.39886089279327, -12.84456255605703, 3.6878967814583135, 174.9594285430803, 2.542888906815126, -4.373333165489878, 3.400049842066313, 2.830664971689909, 739.5855653517302, -45.755851376836766, -3.6729368722122318, 9.676995320469445, 1299.2749787291255, -12.239467054770703, -6.884428540055248, 428.10089719286503, 141.159497062787, 192.62708906894653, 2.030914886467582, 1.486135941852223, -5.882399140058475, -12.39007026025556, -4.752193174142111, 186.6049773563543]

In [ ]:
X_test

     ad  impressions  adgroup  clicks  cost  conversions
0     0          121        0      49  0.58            1
1     0           22        2      12  0.17            0
2     0            5        3       3  0.05            0
3     0            2        1       1  0.01            0
4     2            3        1       1  0.01            0
..   ..          ...      ...     ...   ...          ...
313   6            1        3       1  0.01            0
314   6            5        2       1  0.01            0
315   6           25        0      11  0.14            0
316   7            9        2       4  0.06            0
317   7           67        0      27  0.33            1

[318 rows x 6 columns]

In [ ]:
X_test['predicted'] = t

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
X_test

     ad  impressions  adgroup  clicks  cost  conversions   predicted
0     0          121        0      49  0.58            1  168.245552
1     0           22        2      12  0.17            0    1.157718
2     0            5        3       3  0.05            0    4.437063
3     0            2        1       1  0.01            0    1.042819
4     2            3        1       1  0.01            0   -1.728256
..   ..          ...      ...     ...   ...          ...         ...
313   6            1        3       1  0.01            0    1.486136
314   6            5        2       1  0.01            0   -5.882399
315   6           25        0      11  0.14            0  -12.390070
316   7            9        2       4  0.06            0   -4.752193
317   7           67        0      27  0.33            1  186.604977

[318 rows x 7 columns]